<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"
            integrity="sha512-UkPKEzcWAtZep3yOGH8vkDWMScvD17nRJz6P+4Hy8RCcLknZ5HjmDowRkyRm8D2v4GFJ8d1TZ6Ezy14vfnNbtg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Real-time Data Display</title>
     <style>
        .price {
            color: red;
        }
    </style>
    
     <script>
        // Function to reload the page every 3 seconds
        function reloadPage() {
            setTimeout(function(){
                location.reload();
            }, 3000); // 3000 milliseconds = 3 seconds
        }
        // Call the function when the page loads
        window.onload = reloadPage;
    </script>
    
</head>

<body>
    <div class="container">
        <h1>Real Time Prediction</h1>
        <ul id="record-list">
            <li th:each="entry : ${lastRecord}">
                <strong th:text="${entry.key.split(':')[1]}"></strong>: 
                <span th:text="${entry.value}" th:class="${entry.key eq 'info:Price'} ? 'price'"></span>
                <span th:if="${entry.key eq 'info:Price' }">DH</span>
            </li>
        </ul>
    </div>
</body>

<script src="@{/js/script.js}"></script>

</html>
